* {
  margin: 0;
}

div {
  width: 70vw;
  margin: auto;
}

.content {
  margin-top: 5%;
}

h1 {
  color: #ecc8b2;
  border: 2px;
  background-color: #8a662b;
  /* dotted yaitu border titik titik */
  position: sticky;
  border: 1px solid black;
  top: 10px;
}

.rapi {
  margin: auto;
}

h2 {
  color: #8a662b;
  border: 2px solid brown;
  background-color: #cbc5c1;
  font-weight: bold;
  font-family: "Segoe UI";
  text-align: center;
  /* border dashed yaitu border dengan garis titik titik */
  margin-top: 2cm;
}

p {
  border: 1px solid blue;
  /* solid artinya border dengan garis */
  padding: 30px;
  /* padding merupakan garis batas antara tulisan dengan border */
}

.img-wrapper {
  display: flex;
  justify-content: center;
}
img {
  margin: 30px 50px 30px 50px;
  /* top,right,bottom,left */
  border: 1px solid black;
}

ul li {
  background: #ebeced;
}

ol li {
  background: #ebeced;
}

table {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
}

#paragraf1p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* hashtag untuk id yang dimana cuman bisa menyimpan 1 css*/
}

.font {
  font-family: "Lucida Sans";
  font-size: 14px;
  /* kalau titik digunakan untuk menyimpan lebih dari 1 font */
}

.warna {
  background: #4c586f;
  color: white;
}

.miring {
  font-style: italic;
}

.tebal {
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #4c586f;
  list-style: none;
  margin: 0;
  padding-left: 0;
  /* list-style: none; untuk menghilangkan titik */
  /* margin: 0px;
  padding-left: 0px;*/
  /* margin opx dan padding left 0px buat rata kiri */
}

ul li {
  color: white;
  background: #4c586f;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-decoration: none;
}
ul li a {
  color: white;
}

ul li:hover {
  background: #8a662b;
  cursor: pointer;
}

ul li ul {
  background: #ecc8b2;
  visibility: hidden;
  position: absolute;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul :hover {
  visibility: visible;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/* @media only screen and (max-width: 600px) {
    body {
      background: #cbc5c1;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    ul li {
      background: #ecc8b2;
    }
  } */
